.node-qas-wrapper .comment-wrapper {
  background-color: #f7f7f7;
  padding: 16px 32px 8px;
  zoom: 1;
  filter: alpha(opacity = 80);
  opacity: 0.8;
  font-size: .9em;
  margin: 16px 0;
}

.qasCommentText p {
  display: inline;
}

.node-qas-wrapper .qasCommentsTitle {
  margin: 0;
}

.node-qas-wrapper .view-answersbyquestion .view-header {
  font-size: 2em;
  margin: 8px 0;
}

.newAnswerFormTitle {
  padding-bottom: 16px;
}

.qasCommentsFormTitle {
  display: inline;
  padding: 2px;
  text-decoration: underline;
  color: #333;
  font-size: 1.4em;
}

.qasCommentsFormTitle:hover {
  background-color: #333;
  color: #EEE;
  cursor: pointer;
  text-decoration: none;
}

.fl {
  float: left;
}

.dtc {
  display: table-cell;
}
